@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --accent: rgb(54, 64, 157);
    --darkaccent: color-mix(in srgb, var(--accent) 70%, #470046);
    --lightaccent: color-mix(in srgb, var(--accent) 70%, #fbffbb);
}

body {
    font-family: 'Orbit-Regular';
    color: white;
    background-color: var(--accent);
    overscroll-behavior: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

#background{
    background-image: url('../assets/bground.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100vw 100dvh;
    opacity: 70%;
    margin: 0;
    overscroll-behavior: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#title-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    text-align: center;
    background: linear-gradient(90deg, var(--accent), var(--darkaccent));
    color: white;
}

.nav-box {
    display: flex;
    gap: 20px;
    align-items: center;
}

#title {
    margin-bottom: 0;
    margin-top: 10px;
}

#title a {
    text-decoration: none;
    color: inherit;
}

#world-box {
    margin: 120px auto 30px auto;
    max-height: calc(100dvh - 130px);
    /*max-width: calc(100dvh - 150px);*/
    width: 100%;
    display: flex;
    background-color: #00000055;
    border-radius: 20px;
}

#world-content, #character-content {
    flex-grow: 1;
    padding: 10px;
}

#world-content {
    min-width: calc(100dvh - 240px);
    max-width: calc(100dvh - 240px);
    max-height: calc(100dvh - 160px);
}

.yearInput {
    margin-bottom: 10px;
}

.worldname, .charactername, .charactercategory, .relatedcharactername, .relatedcharactercategory {
    width: 100%;
    background-color: var(--accent);
    color: white;
    text-align: center;
    height: 1.7rem;
    margin-bottom: 10px;
    border-radius: 20px;
}

.relatedcharactername {
    margin-top: 20px;
}

.charactercategory, .relatedcharactercategory {
    background-color: var(--lightaccent) !important;
}

.worldmap {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:5px;
}

.worldrow, .worldhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.worldcol, .worldoriginhead {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    height: calc((100dvh - 320px) / 11);
    min-height: 40px;
    border-radius: 20px;
    background-color: var(--lightaccent);
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.worldcol:hover {
    opacity: 1;
}

.worldrowhead, .worldcolhead {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    height: calc((100dvh - 320px) / 11);
    min-height: 40px;
    border-radius: 20px;
    background-color: var(--lightaccent);
    justify-content: center;
    align-items: center;
}

.characterlist {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap:5px;
}

.relatedcharacterlist {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:5px;
}

.characterlist a, .relatedcharacterlist a {
    width: calc(32% - 5px);
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.characterprofile {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.characteritem {
    width: calc(100% - 10px);
    padding: 5px;
    background-color: var(--lightaccent);
    border-radius: 20px;
}

.characteritem:hover {
    opacity: 0.5;
}

.cavatar {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.cprofileavatar {
    text-align: center;
}

img {
    max-width: calc(100%);
    max-height: 70dvh;
    aspect-ratio: auto 1 / 1; 
    border-radius: 20px;
}

.cname, .csummary {
    text-align: center;
}

.ccategory {
    border-radius: 10px;
    padding: 3px;
    background-color: var(--accent);
    color: white;
}

.cprofilegoal li {
    list-style: none;
    padding: 5px 0 5px 50px;
}

li {
    list-style: none;
}

li:before {
    content: "+";
    padding-right: 5px;
}

.cronology {
    width: 100%;
    margin: 5px 0;
    border-bottom: 1px solid white;
}

.cronology th {
    background-color: var(--lightaccent);
}

.cronology th, .cronology td{
    border-radius: 10px;
}

.cronology td:nth-child(1){
    text-align: right;
    width: 20% !important;
}

.cronology .subyear, .cronology .mainyear{
    text-align: right;
    width: 20% !important;
}

.cronology td{
    width: 40%;
    text-align: left;
}

.cronology tr.subyear {
    display: none;
}

.bold {
    display:inline-block;
    min-width: 100px;
    font-weight: bold;
    padding: 5px;
    background-color: var(--lightaccent);
    border-radius: 10px;
    text-align: center;
}

input {
    transform: translate(0, -2px);
    height: 30px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

#popup-content {
    position: fixed;
    width: 100vw;
    max-width: 880px;
    height: calc(100vh - 200px);
    top: 100px;
    left: max(0px, calc(50vw - 440px));
    border-radius: 40px;
    background-color: #00000099;
    border: 1px solid white;
    z-index: 100;
    display: none;
    overflow-y: scroll;
    padding: 20px;
}